html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
#logo-text {
  text-decoration: none;

  font-weight: lighter;
  font-size: 3rem;

  color: green;
}

/*****************************
 NAV CSS *
 ****************************/

.navbar-container {
  position: fixed;
  top: 0;
  z-index: 1;

  /* opacity: 0.6; */

  height: 20rem;
  width: 100%;
}

nav {
  padding: 2.4rem 1rem 0 3rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 2rem;
  /* color: chartreuse; */
}

.logo {
  display: inline-block;
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: flex;

  font-weight: lighter;
  color: green;
}

.nav-item a {
  display: inline-block;

  margin-left: 38px;
  padding: 10px 15px;

  font-size: 1.5em;

  text-decoration: none;

  color: green;
}

#nav-button {
  border-radius: 25px;
  
  font-size: 22px;

  background-color: rgb(17, 79, 47);
  color: #ffffff;
  text-decoration: none;
  
  padding: 18px 32px;
  margin-left: 170px;
}

.nav-item:hover a {
  color: darkgreen;
}

.logo img {
  width: 175px;
  vertical-align: middle;
}
