*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  /* All elements will inherit box sizing from html selector below */
  box-sizing: border-box; }

html {
  /* 
        If we want our sizes to be based off 10px, and want user to be able to adjust the font in browser settings
        we do the size we want (10px) divided by browser default of 16(in this case), which is 62.5% (10/16) {

        Now if user changes browser font size, our sizes can react from the new browser font size wherever we use rem
        Since rem will reflect 
    */
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  /* Set Up For Snap Scroll */
  max-height: 100vh;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(3rem);
  scroll-snap-type: y mandatory;
  position: relative; }

/**********************************************************
                        COLORS
**********************************************************/
/*****************************
   NAV CSS *
****************************/
.navbar-container {
  position: fixed;
  top: 0;
  z-index: 1;
  /* opacity: 0.6; */
  height: 20rem;
  width: 100%; }

.navbar {
  padding: 2.4rem 1rem 0 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  /* color: chartreuse; */ }
  .navbar__logo-text {
    text-decoration: none;
    font-weight: lighter;
    font-size: 3rem;
    color: green; }
  .navbar__nav-links {
    list-style: none;
    display: flex;
    font-weight: lighter;
    color: green; }
    .navbar__nav-links .nav-item a {
      display: inline-block;
      margin-left: 38px;
      padding: 10px 15px;
      font-size: 1.5em;
      text-decoration: none;
      color: green; }

#nav-button {
  border-radius: 2.5rem;
  font-size: 2.2rem;
  background-color: #114f2f;
  color: #ffffff;
  text-decoration: none;
  padding: 1.88rem 3.2rem;
  margin-left: 17rem; }

.logo img {
  width: 17.5rem;
  vertical-align: middle; }

svg {
  width: 70px;
  height: 70px; }

svg:hover {
  fill: red; }

.section {
  /* When anchor link clicked alwyas take user to start of sections */
  scroll-snap-align: start;
  z-index: -1;
  /* border: 4px solid black; */
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

/***************************************************
                        SECTION 1
  ****************************************************/
.about-flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 70%; }

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: darkslategray;
  width: 50%; }
  .about h1 {
    font-size: 5.2rem;
    /* Customize what weights we have access too in google fonts link */
    font-weight: 400;
    margin-bottom: 2.5rem; }
  .about p {
    font-size: 2.4rem;
    font-weight: 300;
    line-height: 4.4rem; }

/***************************************************
                        SECTION 2 GRID
  ****************************************************/
.benefits {
  background-color: #cbe3aa; }

.benefits-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 80%; }
  .benefits-grid__row {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    color: white; }
  .benefits-grid__images {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30rem; }
  .benefits-grid__image {
    width: 20rem;
    height: 20rem; }
  .benefits-grid__texts {
    font-size: 3.4rem;
    text-align: center;
    margin: 3rem 0; }

/***************************************************
                        SECTION 3
  ****************************************************/
#left-green-section {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #cbe3aa;
  z-index: -1; }

#matcha-6-div {
  display: flex;
  flex-direction: column;
  /* To position the 6 in background */
  position: relative;
  margin-right: 7rem;
  width: 65%;
  z-index: 1; }
  #matcha-6-div__number-6 {
    z-index: -1;
    position: absolute;
    left: 0px;
    bottom: 4rem;
    opacity: 0.1;
    font-size: 45rem; }
  #matcha-6-div__header {
    font-size: 7.6rem;
    color: white;
    margin-bottom: 2rem; }
  #matcha-6-div__text {
    font-size: 2.2rem;
    line-height: 4rem;
    color: darkslategray;
    margin-bottom: 4rem; }
  #matcha-6-div__button {
    width: 20rem;
    border-radius: 10rem;
    text-align: center;
    font-size: 2.2rem;
    background-color: #114f2f;
    color: #ffffff;
    text-decoration: none;
    padding: 2rem 2rem;
    margin-bottom: 50px; }

.spoon-background {
  /* border: coral 1px solid; */
  height: 100%;
  width: 50%;
  background-image: url("../img/spoon.png");
  background-size: cover;
  background-position: 70% 60%; }

/***************************************************
                        SECTION 4
  ****************************************************/
.section-4 {
  width: 100%;
  height: 100vh;
  background-color: #fafafa;
  scroll-snap-align: start;
  /* To position footer */
  position: relative;
  background-image: url("../img/powder.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 100%; }

.learn-more {
  position: absolute;
  top: 15%;
  left: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60rem;
  height: 50rem; }
  .learn-more h1 {
    color: #114f2f;
    font-size: 5rem;
    margin-bottom: 3rem; }
  .learn-more p {
    color: #2f6247;
    font-size: 3.5rem;
    line-height: 4.6rem;
    margin-bottom: 5.5rem; }
  .learn-more__input {
    border-left: 1.6rem solid #114f2f;
    background-color: #cbe3aa;
    color: white;
    font-size: 3.6rem;
    height: 6rem;
    width: 100%;
    vertical-align: middle; }
  .learn-more__email-button {
    border-radius: 2.5rem;
    font-size: 2.2rem;
    background-color: #114f2f;
    color: #ffffff;
    text-decoration: none;
    padding: 1.8rem 3.2rem;
    margin-top: 3rem; }

input::placeholder {
  text-align: center;
  line-height: 10rem;
  font-size: 3.5rem; }

/***************************************************
                        FOOTER
  ****************************************************/
.footer {
  background-color: #114f2f;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40rem;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.food-list li {
  padding: .7rem;
  font-size: 1.6rem;
  list-style-type: none; }

#contacts {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  #contacts h1 {
    text-align: center; }
  #contacts ul {
    list-style-type: none;
    padding: 3rem; }
    #contacts ul li {
      padding: .7rem;
      font-size: 1.6rem;
      list-style-type: none; }

/***************************************************
                        HOVER EFFECTS
    ****************************************************/
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform; }

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1); }

.hvr-icon-spin {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0); }

.hvr-icon-spin .hvr-icon {
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out; }

.hvr-icon-spin:hover .hvr-icon,
.hvr-icon-spin:focus .hvr-icon,
.hvr-icon-spin:active .hvr-icon {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg); }
