/**********************************************************
                        COLORS
**********************************************************/

$color-light-green-background: rgb(203, 227, 170);
$color-normal-section-text: darkslategray;
$button-color: rgb(17, 79, 47);
